Chapter 6

Exercise 1:

In [ ]:
text = 'Business Analytics'

What will the following expressions produce?

In [ ]:
text[4]
text[2:4]
text[:4]
text[4:]
text[-2]
text[-4:-2]
text[-2:]
text[:-2]

answer:

In [1]:
text = "Business Analytics"
print(text[4])
print(text[2:4])
print(text[4:])
print(text[:4])
print(text[-2])
print(text[-4:-2])
print(text[-2:])
print(text[:-2])

n
si
ness Analytics
Busi
c
ti
cs
Business Analyti

Exercise 2:

given code:

In [ ]:
phrase = 'One Ring to rule them all'

What string slicing expression gives out the following words:

In [ ]:
'One '
'Ring'
'all'
'them'
'One Ring to rule them all'

answer:

In [3]:
phrase = "One ring to rule them all"
print(phrase[:4])
print(phrase[4:8])
print(phrase[-3:])
print(phrase[17:-4])
print(phrase[:])

One
ring
all
them
One ring to rule them all

challenge

Write a program which repeatedly reads a full name, then does the following:

strips the name of any trailing spaces capitalizes the first letter puts the rest into smaller letters

In [2]:
for i in range(10) :
  name = input("Enter your full name: ")
  if name == "exit" :
      break
  print(name.strip().capitalize())

Enter your full name: Bryle Gelladoga
Bryle gelladoga
Enter your full name: exit